title{
  height: 800px;

}
body{
  margin: 0;
  text-align: center;
  font-family: calibri, sans-serif;
}

h1{
  font-size: 5.625em;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #115173;
}
.description{
  color: #115173;
}
h2{
  font-size: 2.5rem;
  font-weight: normal;
  color: #115173;
}
h3{
  color: #115173;
}
p{
  font-size: 18px;
}
.top-container{
    background-color: #eef2f5;
    position: relative;
    padding-top: 50px;
    margin-bottom: 0px;
}

.middle-container{

}
.profile{
   margin-top: 50px;
}
.headshot{
  width: 25%;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
hr{
  width: 50%;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 500px;
}
.mountain{
  width: 1375px;
  height: 600px;
}
.codingImg{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.codeReview{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.contact-me{
  margin-bottom: 50px;
}
.contact{
  margin-bottom: 50px;
}
.btn {
  background: #115173;
  background-image: -webkit-linear-gradient(top, #115173, #38abf2);
  background-image: -moz-linear-gradient(top, #115173, #38abf2);
  background-image: -ms-linear-gradient(top, #115173, #38abf2);
  background-image: -o-linear-gradient(top, #115173, #38abf2);
  background-image: linear-gradient(to bottom, #115173, #38abf2);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Arial;
  color: #ebf2f5;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #115173 1px;
  text-decoration: none;
}

.btn:hover {
  background: #338cc4;
  background-image: -webkit-linear-gradient(top, #338cc4, #1c73ad);
  background-image: -moz-linear-gradient(top, #338cc4, #1c73ad);
  background-image: -ms-linear-gradient(top, #338cc4, #1c73ad);
  background-image: -o-linear-gradient(top, #338cc4, #1c73ad);
  background-image: linear-gradient(to bottom, #338cc4, #1c73ad);
  text-decoration: none;
}
.bottom-container{
  background-color: #053f5e;
  padding: 50px 0 30px;
  height: 100px;

}

a{
  color: #4592af;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
a:hover{
  color: white;
}
.footer-link{
  margin: 10px 20px;
}
.copyright{
  color: #e9e4e6;
  margin-top: 50px;
}
.flaticon{
  color: #4592af;
}
