title{
  height: 800px;

}
body{
  margin: 0;
  text-align: center;
  font-family: calibri, sans-serif;
}

h1{
  font-size: 5.625em;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #e9e4e6;
}
.description{
  color: #e9e4e6;
}
h2{
  font-size: 2.5rem;
  font-weight: normal;
  color: #ae7c7c;
}
h3{
  color: #ae7c7c;
}
p{
  font-size: 18px;
}
.top-container{
    background-color: #ae7c7c;
    position: relative;
    padding-top: 50px;
}

.middle-container{

}
.profile{
   margin-top: 50px;
}
.headshot{
  width: 25%;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.mountain{
  width: 600px;
  height: 600px;
}
.codingImg{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.codeReview{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.contact-me{
  margin-bottom: 50px;
}
.contact{
  margin-bottom: 50px;
}
.btn {
  background: #db9393;
  background-image: -webkit-linear-gradient(top, #db9393, #ae7c7c);
  background-image: -moz-linear-gradient(top, #db9393, #ae7c7c);
  background-image: -ms-linear-gradient(top, #db9393, #ae7c7c);
  background-image: -o-linear-gradient(top, #db9393, #ae7c7c);
  background-image: linear-gradient(to bottom, #db9393, #ae7c7c);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #ae7c7c;
  -webkit-box-shadow: 0px 1px 3px #ae7c7c;
  -moz-box-shadow: 0px 1px 3px #ae7c7c;
  box-shadow: 0px 1px 3px #ae7c7c;
  font-family: Arial;
  color: #e9e4e6;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ae7c7c 1px;
  text-decoration: none;
}

.btn:hover {
  background: #d19fa3;
  background-image: -webkit-linear-gradient(top, #d19fa3, #bd7f84);
  background-image: -moz-linear-gradient(top, #d19fa3, #bd7f84);
  background-image: -ms-linear-gradient(top, #d19fa3, #bd7f84);
  background-image: -o-linear-gradient(top, #d19fa3, #bd7f84);
  background-image: linear-gradient(to bottom, #d19fa3, #bd7f84);
  text-decoration: none;
}
.bottom-container{
  background-color: #ae7c7c;
  padding-top: 60px;
  height: 150px;

}

.copyright{
  color: #e9e4e6;
}
.flaticon{
  margin-top: 70px;
}
